<h1>My Question</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="question">Question</label>
            <input type="text" id="question" class="form-control" ng-model="vm.question.question" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveQuestion()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteQuestion()">Delete</button>           
        </div>
    </form>
    <form method="GET">
        <div class="form-showAll">
            <button class="btn" ng-click="vm.getAll()">Mostrar Todos</button>
        </div>
    </form>
    <div class="question-saved">
        {{vm.allQuestion}}
    </div>
</div>
